{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
   <div id="home">
        <h1>home</h1>
        
   </div>
   <div id="rectangle">
      <div class="rec1">
         <div class="img">
            <img class="recimg" src="{{ asset('images/rec1.jpg') }}" alt="">
            <div>
               <p>Tasty Thursdays</p>
               <p>20% off</p>
            <button>Order</button>
            </div>
         </div>
      </div>
      <div class="rec1"></div>
   </div>
{% endblock %}
