*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#about{
    background-image: url("../images/home.jpg");
    background-position: center center;
    background-size: cover;
    height: 790px;
}
.about{
    height: 790px;
    display: flex;
    justify-content: flex-start;
}
.para{
    display: flex;
    width: 50%;
    align-items: center;
    color: whitesmoke;
    margin-left: 50px;
}

/* page book table */
.book{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tablebook{
    display: flex;
    width: 70%;
    height: 700px;
    justify-content: space-around;
    align-items: center;

}
input{
    height: 55px;
}
.ftable{
    width: 50%;
}
iframe{
    border-radius: 20px;
}