*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#about{
    background-image: url("../images/home.jpg");
    background-position: center center;
    background-size: cover;
    height: 790px;
}
.about{
    height: 790px;
    display: flex;
    justify-content: flex-start;
}
.para{
    display: flex;
    width: 50%;
    align-items: center;
    color: whitesmoke;
    margin-left: 50px;
}