*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* color: aliceblue; */
}
.diaporama{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 750px;
    background-image: url("../images/home.jpg");
    background-size: cover;
    background-position: center center;
    font-family: 'Dancing Script', cursive;
}

#nav-droite, #nav-gauche{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 3em;
}

#nav-droite{
    right: 20px;
}
#nav-gauche{
    left: 20px;
}

.elements{
    display: flex;
    transition: 1s linear;
}

.element{
    flex: 1 0 100%;
    top: 400px;
    left: 20px;
    right: 100px;
    position: relative;
}
.caption{
    position: absolute;
    width: 50%;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255,255,255,0.4);
    padding: 30px;
}


/* partie menu */
#rectangle{
    /* border: 2px solid rgb(85, 0, 255); */
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
}
.rectangle1{
    width: 80%;
    display: flex;
    /* border: 2px solid gold; */
    justify-content: center;
    align-items: center;
    margin: auto;
}
.rec1{

    background-color: rgb(34, 40, 49);
    color: aliceblue;
    border-radius: 5px;
    width: 46%;
    height: 230px;
    display: flex;
    column-gap: 100px;
    margin: 20px;
}
.rec2{
    /* border: 3px solid red; */
    display: flex;
    align-items: center;
    width: 70%;
    margin: 20px;
}
.img{
    height: 170px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recimg{
    border-radius: 50%;
    width: 95%;
    height: 95%;
    /* padding: 0; */
    transition: 0.5s;
}


.text{
    margin-left: 10px;
}

/** grid **/
#grid{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.grid1{
    border: 5px solid red;
    width: 23%;
    height: 450px;
    background-color: rgb(34, 40, 49);
    border-radius: 20px;
    color: aliceblue;
    margin: 20px;
}
.img{
    border: 5px solid yellow;
    border-radius: 50%;
}
.ig{
    height: 240px;
    border: 5px solid rgb(98, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5% 5% 0% 20%;
    background-color: rgb(241, 242, 243);
}

.itemImg{
    border-radius: 50%;
    width: 195px;
    height: 195px;
    transition: 0.5s;
    border: 2px dashed red;
}


.gridimg{
    border-radius: 50%;
    width: 190px;
    height: 190px;
    padding: 0;
}
.grig2{
    margin: 20px 20px;
}
.pan{
    display: flex;
    justify-content: space-between;
}


/** **/
#back{
    color: aliceblue;
    background-image: url("../images/back.jpg");
    background-position: center center;
    background-size: cover;
    height: 800px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back1{
    width: 50%;
}
/* button */
.button{
    background-color: #FFBE33;
    color: white !important;
    border-radius: 50px;
    text-decoration: none;
    height: 60px;
    width: 200px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover{
    background-color:#E69C00 ;
}

