*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#home{
    width: 100%;
    height: 750px;
    background-image: url("../images/home.jpg");
    background-size: cover;
    background-position: center center;
}
#rectangle{
    /* border: 2px solid rgb(85, 0, 255); */
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}
.rectangle1{
    width: 80%;
    display: flex;
    /* border: 2px solid gold; */
    justify-content: center;
    align-items: center;
    margin: auto;
}
.rec1{
    background-color: rgb(34, 40, 49);
    color: aliceblue;
    border-radius: 5px;
    width: 46%;
    height: 230px;
    display: flex;
    margin: 20px;
}
.rec2{
    /* border: 3px solid red; */
    display: flex;
    align-items: center;
    width: 70%;
    margin: 20px;
}
.recimg{
    border: 5px solid yellow;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 0;
}
#recim{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 0;
    transition: 3s;
}
.text{
    margin-left: 10px;
}

/** grid **/
#grid{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.grid1{
    /* border: 5px solid red; */
    width: 23%;
    height: 450px;
    background-color: rgb(34, 40, 49);
    border-radius: 20px;
    color: aliceblue;
    margin: 20px;
}
.ig{
    /* border: 5px solid rgb(98, 0, 255); */
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5% 5% 0% 20%;
    background-color: rgb(241, 242, 243);
}
.gridimg{
    border-radius: 50%;
    width: 190px;
    height: 190px;
    padding: 0;
}
.grig2{
    margin: 20px 20px;
}
.pan{
    display: flex;
    justify-content: space-between;
}
/** **/
#back{
    color: aliceblue;
    background-image: url("../images/back.jpg");
    background-position: center center;
    background-size: cover;
    height: 800px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back1{
    width: 50%;
}


