@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:wght@300;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 20%;
}
#ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
/*  */
#gridmenu{
    margin: 20px;
}
.h1{
    margin: 20px;
    /* text-align: center; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
