*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* nav-barre */
#menu{
    background-color: rgb(34, 40, 49);
    width: 100%;
    height: 95px;
    font-family: 'Open Sans', sans-serif;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}
.log{
   height: 89px;
}
.right{
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.profile{
    background-color: hsl(34, 40, 49);
    width: 450px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.a{
    text-decoration: none;
    color: white;
}
.a:hover{
    color: #E69C00;
}
.btnd{
    text-decoration: none;
    color: aliceblue;
}
.cart1{
    text-decoration: none;
    color: white;
}
/* footer */
footer{
    /* border: 2px solid red; */
    background-color: rgb(34, 40, 49);
    /* position: absolute;
    bottom: 0; */
    height: 400px;
    width: 100%;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
#footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}
/* button nav */
.btnd{
    background-color: #E69C00;
    border-radius: 50px;
    height: 40px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnd:hover{
    background-color: #11100e;
    color: red;
}