*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.profil{
    display: flex;
    justify-content: center;
    align-items: center;
}
.prof{
    background-color: rgb(34, 40, 49);
    color: aliceblue;
    margin: 20px;
    width: 40%;
    border-radius: 20px;
}
ul{
    list-style: none;
}
li{
    margin: 20px;
}
.ava{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgprofile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.imagep{
    display: flex;
    justify-content: center;
    align-items: center;
}
.changeprofile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.adress{
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width:500px) {
    .profil{
        width: 100%;
    }
    .prof{
        width: 90%;
        margin: 20px;
        display: flex;
        flex-direction: column;
    }
    .adress{
        display: flex;
        flex-direction: column;
        margin-top: -20px;
    }
    .imgprofile{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .btn{
        width: 100px;
        height: 100px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
