{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/back.css')}}">
{% endblock %}

{% block body %}
<div class="produit">
    <h1 class="ph">Ajout de Catégorie</h1>

    <div class="produit1">
    {{ include('admin_categorie/_form.html.twig') }}

    <a class="btn" href="{{ path('app_admin_categorie_index') }}">Voir les Catégories</a>
    </div>
</div>
{% endblock %}
