{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1></h1>
     <div id="">
        <h1>Nos Menu</h1>
        <ul>
            <li>All</li>
            <li>Burger</li>
            <li>Pizza</li>
            <li>Pizza</li>
        </ul>
     
    </div>
    <div class="">
        {% for produit in produits %}
            {{ produit.titre }}
            {{ produit.description }}
            {{ produit.prix }}
            {% if produit.image %}
                <img src="{{ asset(  'images/produit/' ~ produit.image    ) }}" alt="" class="img80">
            {% else %}
                pas d'image
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
