<footer>
    <div id="footer">
        <div class="partie1">
            <div class="p1">
                <h2>Contactez-Nous</h2>
                <a href="#"><p>Location</p></a>
                <a href="#"><p>Télephone 123456789</p></a>
                <a href="#"><p>ben@gmail.com</p></a> 
            </div>
        </div>
        <div class="partie2">
            <div class="p2">
                <h2>Feane</h2>
                <p>Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with </p>
                <div class="icon"></div>
            </div>
        </div>
        <div class="partie3">
            <div class="p3">
                <h2>Opening Hours</h2>
                <p>Opening Hours</p>
                <p>10.00 Am -10.00 Pm </p>
            </div>
        </div>
    </div>
    <p>© 2022 All Rights Reserved By Free Html Templates</p>
</footer>