<nav>
    <div id="menu">
        <div class="menu">
            <div class="logo">
                <a href=""><img class="log" src="{{ asset('images/logo.png') }}" alt="logo"></a>
            </div>
            <div class="right">
                <a href="">HOME</a>
                <a href="">MENU</a>
                <a href="">ABOUT</a>
                <a href="">BOOK TABLE</a>
            </div>
            <div class="pro">
                <div class="profile">
                    <a href="#"><i class="fas fa-shopping-cart"></i></a>
                    <a href="#">Order Online</a>
                    {% if app.user %}
                        <img src="{{ asset('images/avatar.jpg') }}" alt="avatar" class="avatar">
                    {% else %}
                        <a class="btn btn-primary" href="{{ path('app_register') }}">S'Inscrire</a>
                        <a class="btn btn-primary" href="{{ path('app_login') }}">Se Connecter</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>